*{
    margin: 0;
    padding: 0;
}


header{
    background-color: white;
    height: 50vh;
    background-size: cover;
    background-position: center;
}

header ul{
    position: relative; 
    text-align: center;
    float: center;
    margin-left: 30;
    list-style-type: none;
    margin-top: 50px;
}

header ul li{
    display: inline-block;
}

header ul li a{
    text-decoration: none;
    color: #000;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.6s ease;
	  margin-bottom: 0%;
}

header ul li a:hover{
    background-color: #000;
    color: #fff;
}

.logo{
  position: relative;
  top:25px;
}

.logo img{
	display: block;
    margin-left: auto;
	margin-right: auto;
    width: 150px;
    height: auto;
}

.main{
	margin-top: 0%;
    max-width: 1200px;
    margin: auto;
}


.about h1{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: arial;
  font-weight: bolder;
  font-size: 100px;
  color: white;
  text-shadow: 5px 5px black;
  text-transform: uppercase;
  text-decoration: underline;
}

/* .about img{
  height: 100px;
  width:100%;
  max-width: 100%;
  margin-bottom: 0;
} */

main{
  background-color: white;
  width: 70%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 3px solid lightslategray;
  padding: 20px 40px;
  box-sizing: border-box;
  z-index: 1;
}

main .origin{
  text-align: center;
  font-weight: bold;
  font-family: arial;
  font-size: 40px;
  margin-top: 5%;
}

main .origin h2{
  text-decoration: underline;
  text-shadow: 2px 2px grey;
}

main .origin p{
  font-weight: lighter;
  font-family: arial;
  font-size: 20px;
  word-spacing: 1px;
  text-align: center;
  margin-top: 2%;
}

.what_rm {
  text-align: left;
}

.what_rm .text{
  margin-left: 7%;
  width: 25%;
  margin-bottom: 10%;
  margin-top: 10%;
  background-color: rgb(229, 237, 241);
  border: 2px solid lightslategray;
  padding: 5%;
}

.what_rm h2{
  font-weight: bold;
  font-family: arial;
  font-size: 35px;
  margin-bottom: 5%;
  text-decoration: underline;
  text-shadow: 4px 2px lightgray;
}

.what_rm p{
  letter-spacing: 1px;
  word-spacing: 1px;
  font-weight: lighter;
  font-family: arial;
  font-size: 20px;
  line-height: 1.5;
}

.what_rm img{
  width: 40%;
  float: right;
  border-radius: 50px;
  margin-right: 7%;
  margin-top: 5%;
}

.how_rm{
  text-align: left;
  display: inline-block;
}

.how_rm .text{
  background-color: lightblue;
  width: 30%;
  float: right;
  margin-right: 5%;
  margin-top: 2%;
  background-color: rgb(229, 237, 241);
  border: 2px solid lightslategray;
  padding: 5%;
}

.how_rm h2{
  font-weight: bold;
  font-family: arial;
  font-size: 35px;
  margin-bottom: 5%;
  text-decoration: underline;
  text-shadow: 4px 2px lightgray;
}

.how_rm p{
  letter-spacing: 1px;
  word-spacing: 1px;
  font-weight: lighter;
  font-family: arial;
  font-size: 20px;
  line-height: 1.5;
}

.how_rm img{
  width: 35%;
  float: left;
  border-radius: 40px;
  border: 20px solid white;
  margin-left: 10%;
  margin-top: 5%;
}

.errting{
  background-image: url('rawwws.jpg');
}
i{
   font-size: 25px; 
}
.container{
	max-width: 1170px;
	margin:auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

ul{
	list-style: none;
}

.footer{
	background-color: #24262b;
    padding: 70px 0;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ffffff;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: black;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}