*{
  margin: 0;
  padding: 0;
}

header{
  background-color: white;
  height: 50vh;
  background-size: cover;
  background-position: center;
}

header ul{
  position: relative; 
  text-align: center;
  float: center;
  margin-left: 30;
  list-style-type: none;
  margin-top: 50px;
}

header ul li{
  display: inline-block;
}

header ul li a{
  text-decoration: none;
  color: #000;
  padding: 5px 20px;
  border: 1px solid #fff;
  transition: 0.6s ease;
  margin-bottom: 0%;
}

header ul li a:hover{
  background-color: #000;
  color: #fff;
}

.logo{
position: relative;
top:25px;
}

.logo img{
display: block;
  margin-left: auto;
margin-right: auto;
  width: 150px;
  height: auto;
}

/* main part */

.content-table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  width: 1000px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  font-family: sans-serif ;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: 24%;
}
.content-table thead {
  background-color: #24262b;
  color: white;
  text-align: center;
  font-weight: bold;
}
.content-table th,.content-table td{
  padding: 12px 15px;
  text-align: center;
}
.content-table tbody tr{
  border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:last-of-type{
  border-bottom:  2px solid #24262b;
}
.edit_u,.add_u{
  border: 0;
  background-color: white;
  padding: 5px;
  text-decoration: underline;
}

.edit_u:hover,.add_u:hover{
  background-color: #cacaca;
  transition: 0.6s ease;
}

/* end of main part */

i{
  font-size: 25px; 
}

.container{
max-width: 1170px;
margin:auto;
}

.row{
display: flex;
flex-wrap: wrap;
}

ul{
list-style: none;
}

.footer{
background-color: #24262b;
  padding: 70px 0;
}

.footer-col{
 width: 25%;
 padding: 0 15px;
}

.footer-col h4{
font-size: 18px;
color: #ffffff;
text-transform: capitalize;
margin-bottom: 35px;
font-weight: 500;
position: relative;
}

.footer-col h4::before{
content: '';
position: absolute;
left:0;
bottom: -10px;
background-color: #ffffff;
height: 2px;
box-sizing: border-box;
width: 50px;
}

.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}

.footer-col ul li a{
font-size: 16px;
text-transform: capitalize;
color: #ffffff;
text-decoration: none;
font-weight: 300;
color: #bbbbbb;
display: block;
transition: all 0.3s ease;
}

.footer-col ul li a:hover{
color: #ffffff;
padding-left: 8px;
}

.footer-col .social-links a{
display: inline-block;
height: 40px;
width: 40px;
background-color: black;
margin:0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
color: #24262b;
background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
.footer-col{
  width: 50%;
  margin-bottom: 30px;
}
}
@media(max-width: 574px){
.footer-col{
  width: 100%;
}
}