*{
    margin: 0;
    padding: 0;
}
header{
    background-color: white;
    height: 50vh;
    background-size: cover;
    background-position: center;
}
header ul{
    float: center;
    margin-left: 30;
    list-style-type: none;
    margin-top: 50px;
}
header ul li{
    display: inline-block;
}
header ul li a{
    text-decoration: none;
    color: #000;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.6s ease;
	margin-bottom: 0%;
}
header ul li a:hover{
    background-color: #000;
    color: #fff;
}
.logo img{
	display: block;
    margin-left: auto;
	margin-right: auto;
    width: 150px;
    height: auto;
}
.main{
	margin-top: 0%;
    max-width: 1200px;
    margin: auto;
}
i{
   font-size: 25px; 
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ffffff;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: black;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}









/* Facu's Part */


/* Dropdown Menu */

.dropdown {
	position:relative;
}

.nav-link{
	font-family: 'Londrina Solid';
	font-size: large;
}
.nav-link:hover{
	color:rgb(243, 238, 226);
}



/* Container */

.product1 {
	background-image: url("../logo.png");
	background-attachment: fixed;
	background-size: cover;
	margin-bottom: 0;
	padding-bottom: 10%;
	padding-top: 10%;
	background-position: center center;
}

.product2 {
	background-image: url("../logo.png");
	background-attachment: fixed;
	background-size: cover;
	margin-bottom: 0;
	padding-bottom: 10%;
	padding-top: 10%;
	background-position: center center;
}

.product3 {
	background-image: url("../logo.png");
	background-attachment: fixed;
	background-size: cover;
	margin-bottom: 0;
	padding-bottom: 10%;
	padding-top: 10%;
	background-position: center center;
}

.product4 {
	background-image: url("../logo.png");
	background-attachment: fixed;
	background-size: cover;
	margin-bottom: 0;
	padding-bottom: 10%;
	padding-top: 10%;
	background-position: center center;
}

.product5 {
	background-image: url("../logo.png");
	background-attachment: fixed;
	background-size: cover;
	margin-bottom: 0;
	padding-bottom: 10%;
	padding-top: 10%;
	background-position: center center;
}

.product6 {
	background-image: url("../logo.png");
	background-attachment: fixed;
	background-size: cover;
	margin-bottom: 0;
	padding-bottom: 10%;
	padding-top: 10%;
	background-position: center center;
}

.container {
	/* position: relative; */
	font-family: 'Londrina Solid';
	color: black;
}

.whiteBorder{
	position: relative;
	padding: 1em;
	border: 5px white solid;
	width: 27em;
	font-family: Anton-Regular, serif; /* CHANGE FONT TO MATCH OTHERS*/
}

.centerWhite{
	color: white;
	text-align: center;
}

/* Filter */

.all {
	display: flex;
}

.filter-option:hover{
	color:cadetblue;
	text-decoration: none;
}

.filter {
	background-color: rgb(243, 238, 226);
	border-right: 1px solid rgba(0, 0, 0, .5);
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	margin-right: 0;
	width: 15em;
	padding: 10px;
	display: inline-block;
	margin-left: 0;
	text-align: left;
}

.filter-option{
	color:black;
	text-decoration: none;
}

.text {
	font-family: 'Londrina Solid';
	color: black;
}

.font-word{
	font-size: 30px;
}



/* Product Display */
.header1{
	background-color: white;
	height: 35vh;
	background-size: cover;
	background-position: center;
}

.mb-5{
	font-family: 'Londrina Solid';
}

.product {
	border: 5px solid white !important;
	margin-top: 13px;
	margin-bottom: 13px;
	padding: 0 0;
	background-color: rgb(243, 238, 226) !important;
}

.card-aisle:hover {
	border: 5px #0E69BE solid !important;
	padding: 0 0;
}

.card {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}

.productLink{
	text-decoration: none;
}
.productLink:hover {
	text-decoration: none;
}

.productImage {
	width: 296px;
	height: 222px;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	padding-bottom: 0;
	padding-left: -30px;
	padding-right: -30px;
	object-fit: contain;
}

.productDetails {
	/*width: 15.5em;*/
}

.productName {
	margin-bottom: 0;
	margin-top: 0;
}

.productPrice{
	font-family: Anton-Regular, serif;
	margin-bottom: 0;
	margin-top: 0;
}






/* For each product*/

.product-price {
	font-size: 20px;
	font-weight: bold;
	color: coral;
}
.product-image {
	height: 15em;

}
.container1 {
	/* position: relative; */
	font-family: 'Londrina Solid';
	color: black;
}
.title {
	font-family: 'Londrina Solid', bold;
	color: black;
	line-height: 1em;
}
.marg{
	text-align: left;
}
.product-title{
	color: #505050;
	font-size: xx-large;
	text-decoration: none;
}
.product-title:hover {
	color: #505050;
	font-size: xx-large;
	text-decoration: none;
}
.margin{
	margin-bottom: 2em;
	margin-top: 2em;
}
.moreInfoColor {
	background-color: rgb(243, 238, 226) !important;
}
.inStock{
	color: #22b877 !important;
	text-decoration: none;
}
.minus-icon, .plus-icon{
	cursor: pointer;
}
.rounded-3 {
	border-radius: .75rem!important;
}
.number-selector{
	width: 6ch;
	text-align: center;
}
p-2 {
	padding: 0.5rem!important;
}
.text-dark {
	color: #212529!important;
}
.text-bold {
	font-weight: bold;
}
.border-thicc {
	border: 3px solid #dee2e6!important;
}
.btn-info1{
	color: #000;
	background-color: #0dcaf0;
	border-color: rgb(243, 238, 226);
}
.col-md-5 {
	flex: 0 0 auto;
	width: 41.6666666667%;
}




/* Backstore Product*/

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {


	.order-table table, .order-table thead, .order-table tbody,  .order-table th, .order-table td, .order-table tr {
		display: block;
	}

	.order-table > thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.order-table > tr {
		border: 1px solid #ccc;
	}

	.order-table > td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	.order-table > td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	.order-table > td:nth-of-type(1):before {
		content: "Buyer Name";
	}

	.order-table > td:nth-of-type(2):before {
		content: "Total";
	}

	.order-table > td:nth-of-type(3):before {
		content: "Status";
	}
	.order-table > td:nth-of-type(4):before {
		content: "Order #";
	}

}

.order-table td:first-of-type {
	width:25%;
}
.order-table {
	position:relative;
}
.order-table td:last-of-type {
	vertical-align:top;
	padding-left:25px;
}
